{% extends "nawigacja.html" %}
{% block content %}
<div class="container-fluid" style="padding-top: 110px;">  <!-- Zwiększamy odstęp do 120px -->
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <div class="card w-100" style="min-height: 360px;">  <!-- Zwiększamy minimalną wysokość -->
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Miejsce 1</h5>
          <p class="card-text">Opis miejsca 1.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card w-100" style="min-height: 360px;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Miejsce 2</h5>
          <p class="card-text">Opis miejsca 2.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card w-100" style="min-height: 360px;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Miejsce 3</h5>
          <p class="card-text">Opis miejsca 3.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 mb-4">
      <div class="card w-100" style="min-height: 360px;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Miejsce 4</h5>
          <p class="card-text">Opis miejsca 4.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card w-100" style="min-height: 360px;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Miejsce 5</h5>
          <p class="card-text">Opis miejsca 5.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-4">
      <div class="card w-100" style="min-height: 360px;">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Miejsce 6</h5>
          <p class="card-text">Opis miejsca 6.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
